<div class="admin-dashboard">
    <h2>Admin Dashboard</h2>
    
    @if (games$ | async; as games) {
        @for (game of games; track game.id) {
            <div class="game-row">
                <div class="game-row-info">
                    <img [src]="game.coverImageUrl" [alt]="game.title">
                    <p>{{ game.title }}</p>
                </div>
                <div class="actions">
                    <button class="edit-btn" (click)="onEditGame(game)">Edit</button>
                    <button class="delete-btn" (click)="onDeleteGame(game.id)">Delete</button>
                </div>
            </div>
        }
    }
</div>